@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.input-box{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.inputfield{
  color: black;
  margin-top: 16px;
}

.panel{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(1, 1fr);
  margin-top: 16px;
  background-color: white;
  border-radius: 4px;
}

.autocomplete-container {
  margin-top: 2.5rem;
  position: absolute;
  min-height: inherit;
  max-height: 200px;
  background-color: rgba(0, 0, 0, 0.904);
}

.panel p{
  color: black;
}

.panel a{
  color: black;
}

.interior{
  display: flex;
  align-items: center;
}

.mainDiv{
  width: 100vw;
  height: 100vh;
}

.icons{
  padding: 8px;
  width: 64px;
  height: 64px;
}

.endDiv{
  margin-top: 48px;
  display: flex;
  justify-content: center;
}

.forecast-sidepanel {
  width: 50vw;
  height: 90vh;
  background-color: white;
  overflow: hidden;
}

.forecast-sidepanel-column-panels {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

.forecast-module {
  display: grid;
  grid-template-columns: repeat(1fr);
  grid-template-rows: 1fr;
}

.fill {
  height: 100%;
  width: 100%;
}

.center {
  text-align: center;
}

.forecast-sidepanel p {
  color: black;
}

.forecast-sidepanel.hidden {
  display: "none";
}

@keyframes open-sidepanel {
  0% {
    width: 0vw;
  }
  100% {
    width: 50vw;
  }
}

.open-sidepanel {
  animation: open-sidepanel 0.5s ease-in-out;
}

@keyframes close-sidepanel {
  0% {
    width: 50vw;
  }
  100% {
    width: 0vw;
  }
}

.close-sidepanel {
  animation: close-sidepanel 0.5s ease-in-out
}

.button-forecastsidepanel {
  border-width: 4px;
  border-style: double;
  border-left: 0px;
  border-radius: 16px;
  border-color: white;
}

.fade-in {
  animation: fade-in 1s linear 1;
}

.black {
  text-decoration: black;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  20%{
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
